*{margin: 0;
padding: 0;

}

header{
    
height: 8%;
    padding:0;
    margin: 0;
    background-color:#f69100;
}
#Img_logo{
font-size: 5px;
padding: 10px 10px;
height: 200px;
}
.link{
    background-color:#ffc795;
   align-items: center;
  font-size: 25px;
justify-content: center;
display: flex;
border:5px solid black;
border-radius: 15%;
    margin: 0 45% 2% 45%;
    cursor:  pointer;
    
    
}
.link:hover{
    transform:scale(1.5) ;
}
#central{
    display: grid;
margin: 20px 0 50px 25PX;
   
justify-content: center;



}
#pollo{
   
  height: 100px;
}
#pollo:hover{
    opacity: 0;
    transition: 1s;
}
#nombre{
    color: blueviolet;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
position: absolute;
font-size: 50px;
margin: 5% 0 0 40%;

}
#plato{
justify-content: center;
display: grid;
}
body{
    background-color: #fdbf84;
}
#footer{
    margin-top: 300px;

}

/* CONTACTO*/

#cont{
   
background-color: red;

}